#
# Package only files
#

# Compiled Bytecode, precompiled output and assembly
*.amx
*.lst
*.asm

# Vendor directory for dependencies
dependencies/

# Dependency versions lockfile
pawn.lock


#
# Server/gamemode related files
#

# compiled settings file
# keep `samp.json` file on version control
# but make sure the `rcon_password` field is set externally
# you can use the environment variable `SAMP_RCON_PASSWORD` to do this.
server.cfg

# Plugins directory
plugins/

# binaries
*.exe
*.dll
*.so
announce
samp03svr
samp-npc

# logs
logs/
server_log.txt

#
# Common files
#

*.sublime-workspace
*.sublime-project
*.vscode/

#
# Repo-specific files
#

/a_actor.inc
/a_http.inc
/a_npc.inc
/a_objects.inc
/a_players.inc
/a_samp.inc
/a_sampdb.inc
/a_vehicles.inc
/amx_assembly
/core.inc
/datagram.inc
/file.inc
/float.inc
/string.inc
/time.inc
/y_inline_3.inc
