[submodule "amx"]
	path = amx
	url = https://github.com/Zeex/amx_assembly
[submodule "md-sort"]
	path = md-sort
	url = git@github.com:oscar-broman/md-sort.git
[submodule "code-parse"]
	path = code-parse
	url = git@github.com:Y-Less/code-parse.inc.git
[submodule "indirection"]
	path = indirection
	url = git@github.com:Y-Less/indirection.git
